.places {
	text-align: center;
	padding-left: 30px;
	padding-top: 10px;
}

.places h1 {
	font-size: 30px;
	text-align: left;
}

.articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 20px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-bottom: 30px;
}

.places article h2 {
	font-size: 30p
